// 이미지
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pretendard_m";
  word-break: keep-all;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}


ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@mixin background_set($width, $height, $size) {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: $size;
  width: $width;
  height: $height;
}



// 색상
$black: #000000;
$mid_black: #414141;
$white: #ffffff;
$deep-gray: #464646;
$gray: #d6d6d6;
$light-gray: #707070;
$back-gray: #dbdbdb;
$line-gray: #e8e8e8;

$main-color: #669B2E;
$back-color : #F8F8F8;
$back-color_2 : #E2EFD6;
$sub-color_2 : #2F5C00;
$sub-color: #DBEBCA;
$modal-color: #9999999f;



.w100 {
  width: 100%;
}